

#dienstleistungen_header_menu{
 

    top: 100%;
    position: absolute;
    left: -1.063vw;
    width: -moz-max-content;
    width: max-content;
    background-color: #fff;
    border: 1px solid #C7C7C7;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.25);
    padding: 0.938vw 0 1.25vw 1.063vw;

    transition: opacity 0.3s ease, visibility 0.3s ease;


}

.hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s all ease;
}

.show {
    opacity: 1;
    visibility: visible;
    z-index: 22;
}



#dienstleistungen_header_menu li, #dienstleistungen_header_menu a{
    color: #000000 !important;
}


#dienstleistungen_header_menu li{
    padding: 5px!important;
    border-bottom: 1px  solid #000!important;
}


#dienstleistungen_header_menu li:hover{
    background-color: grey;

    transition: 0.3s all ease;
}









.header_under_row .lang_block ul.langs  {
    padding-bottom: 0.75vw;
    margin-right: 3vw;
    position: absolute;
    text-decoration: none;
}

.header_under_row #lang_block  {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}




.header_under_row .navbar ul li::before{

content: none;

}




li, ul{ 
    list-style: none !important;
    padding: 0px  !important;
}


.about_top_page{
    height: 43.75vw;
    justify-content: center;
    position: relative;
    margin-left: 0;
}

.about_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -100;
}




.before {
    position: relative;
    background-color: rgba(0, 0, 0, 0.47);
    box-sizing:unset;
}


#breadcrumbs > *{
    position: relative;
    margin-top: 20px; /* Space to push breadcrumbs below the about top page */
    z-index: 1; /* Ensure breadcrumbs are above other elements but not the overlay or video */
}


.fixed{
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.header_fixed{
    width: 100%;
    position: fixed !important;
    z-index: 10099;
    margin: 0px;
    padding: 0px;

}


.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


/* Header top row animation*/


#header_fixed .header .header_top_row {
    padding: 0.5vw 0;
}

.header .header_top_row {
    padding: 1.125vw 0 1vw;
    transition: 0.3s all ease;
}


header .header_under_row {
    margin-top: 1vw;
    transition: 0.3s all ease;
}


.header_under_row .navbar ul li {
    margin-left: 0px;
    margin-right: 3vw;
    padding-bottom: 0.75vw;
    
}



.header_top_row .logo_block p {
margin-left: 0.75vw;
padding-left: 1.063vw;
font-size: 1.25vw;
border-left: 1px solid #000;
letter-spacing: 0.313vw;
transition: 0.5s all ease;
}



.header_top_row{margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
outline: none;
font-family: "Montserrat", sans-serif;
box-sizing: border-box;
color: #000;
}




p{
    font-size: 1.1vw;
    line-height: 1.5vw;
    font-weight: 400;
}



/*      галочка перед списком ul               */

ul.check_list li::before {
    content: "";
    position: absolute;
    width: 0.75vw;
    height: 0.75vw;
    top: 0.4vw;
    background-image: url(https://besedaclinic.com.ua/img/list_mark.svg);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}



ul.check_list li *
{
    position: relative;
    padding-left: 1.25vw!important; 
    list-style: none;
    font-weight: 400;

    font-size: 1.1vw;
    line-height: 1.5vw;
}



ul , li, a {
    position: relative;
    list-style: none;
    font-weight: 400;

    font-size: 1.1vw;
    line-height: 1.5vw;
}


a {
    text-decoration: none;
    font-size: 1vw;
    font-weight: 400;
    transition: 0.3s all ease;
    color: #000;
}


a{
        text-decoration: none;
        font-size: 1vw;
        font-weight: 400;
        transition: 0.3s all ease;
        color: #000!important;
   
}




.header p, .header a, .header span, .header b , .header div {
    color: #fff !important;
    text-decoration: none;

}


.header_fixed p, .header_fixed a, .header_fixed span, .header_fixed b, .header_fixed div {
    color: #000000 !important;
}



.container .d-flex li{

    margin-right: 1em;
}


#breadcrumbs ol li:before {
    content: "-";
    padding-left: 0.3vw;
    font-size: 1vw;
}



.top_page_image {
    height: 20.313vw;
    justify-content: center;
    position: relative;
    margin: 0;
}







.team_items {
    margin-top: 3.75vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;


    width: 86vw!important;
    margin: auto;

}



.team_items .team_item {
    position: relative;
}




/*         класс чтобы повесить картику сзади объекта                 */




.image {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}




/*         анимация для него ( увеличениек объекта )                 */


.team_items .team_item .image_block {
    display: block;
    height: 22vw;
    border: 1px solid #B7B7B7;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.25);
}



.container {
    margin: 0 auto !important;
    width: 86vw!important;
}



.image_block{

    display: block;
    height: 22vw;
    border: 1px solid #B7B7B7;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.25);
    margin: 0px;
    padding: 0px;
}



.team_items .team_item .name{
    position: absolute;
    top: 18.5vw;
    right: -1.5vw;
    background-color: #000;
    color: #fff;
    height: 2vw;
    padding: 0 1.063vw;
    z-index: 2;
}




.fw700 {
    font-weight: 700;
}

.fw600 {
    font-weight: 600;
}


.fw500 {
    font-weight: 500;
}





.section_heading {
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 2.5vw;
}



.name-big-center{
    font-size: 1.5vw;
    margin: 1.5vw 0 0.5vw;
    text-align: center;

}



.header_logo div {
    margin-left: 0.75vw;
    padding-left: 1.063vw;
    font-size: 1.25vw;
    border-left: 1px solid #000;
    letter-spacing: 0.313vw;
    transition: 0.5s all ease;
}







/* Open/Close table*/

.cross:after,
.cross::before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    background-color: #000;
    transition: 0.3s all ease;
}


.cross:after {
    transform: translate(-50%, -50%) rotate(90deg);
}


.price_item.open .cross:after {
    width: 0;
}



.cross {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    position: relative;
}




.price_item {
    transition: 0.3s all ease;
    position: relative;
    overflow: hidden;
}



.price_item.open ,.price_item.open table {
    height: -moz-max-content;
    height: max-content;
    position: relative;
    opacity: 1;
    top: 0;
    z-index: 1;
}


.price_item.open .faq_desc, .price_item.open table {
    height: -moz-max-content;
    height: max-content;
    position: relative;
    opacity: 1;
    top: 0;
    z-index: 1;
}


.price_item table {
    margin-top: 0.5vw;
    width: 100%;
    height: 0;
    position: absolute;
    top: 50px;
    z-index: -2;
    opacity: 0;
    transition: 0.5s all ease;

    border-collapse: collapse;
    border-spacing: 0;
}

.price_item table td:first-child {
    width: 15%;
    border-left: none;
    font-size: 1.125vw;
}

.price_item table thead td {
    font-weight: 700;
    font-size: 1.25vw;
}

.price_item table td {
    padding: 1.3vw;
}

.price_item table tbody td {
    border: 1px solid #C4C4C4;
}

.price_item table tbody td:nth-child(2) {
    font-size: 1.25vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}


.price_item table tbody td:last-child {
    font-weight: 600;
    font-size: 1.25vw;
}

.price_item table td:last-child {
    width: 20%;
    border-right: none;
}


.price_item table td {
    padding: 1.3vw;
}

table tr:hover {
    background-color: whitesmoke;

    transition: 0.3s all ease;
}



.heading_block {
    font-size: 2.5vw;
    margin-bottom: 2.5vw;

}

.heading_block:first-child{
    font-weight: 700;
}



.subtitle{
    font-size: 1.25vw;
}





.service_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.875vw;
    grid-row-gap: 1.875vw;
}


.service_items .service {
    display: block;
    border: 1px solid #D7D7D7;
}


.service_items .service .img_block {
    display: block;
    height: 14.063vw;
}


.service_items .service:before {
    top: calc(100% - 4px);
    left: 0;
    width: 2.688vw;
    height: 4px;
    background-color: #000;
    transition: 0.5s all ease;
}

.a_linie:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scale_bg {
    position: relative;
    overflow: hidden;
}

.service:hover.a_linie:before{

    width: 100%;
}



.my_container{
    padding-left: 10vw!important;
    padding-right: 10vw!important;
}




.contact_item .contact_title{
    position: relative;
    font-size: 1.2vw;
    padding-left: 2vw;
    margin-bottom: 0.85vw!important;
}


 .contact_item .contact_title:before{
    width: 1.2vw;
    background-color: #000;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);    
    content: "";
    position: absolute;
    left: 0;
} 




.contact_item{
    width: 48%;
    margin-bottom: 2.5vw;
}


.contact_item *{
    margin: 0px!important;
}


.contact_item .details p {
    font-size: 0.9vw;
}

.contact_item .details a {
    font-size: 1.1vw;
}

.contact_item svg {
    width: 1.7vw;
    height: 1.7vw;
}
.contact_item .details {
    width: 85%;
    margin-left: 0.8vw!important;
}


.messengers a{
    text-decoration: none;
}


   






.nav_services {
    position: sticky;
    top: 8vw;
    width: 23%;
    height: -moz-max-content;
    height: max-content;
}


.content {
    width: 75%;
}

.content h1, .content h2, .content h3, .conten h4, .content h5, .content h6 {
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 1vw;
    margin-top: 3vw;
}